/* global */

document,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote {
    margin: ;
    padding: ;
}

fieldset,
img {
    border: ;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol,
dl,
li,
dt,
dd {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    line-height: ;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

html {
    _filter: expression(document.execCommand("BackgroundImageCache", false, true));
    _background-image: url(about:blank);
    _background-attachment: fixed;
    /* prevent screen flash in IE6 */
}

.clear {
    clear: both;
    height: ;
    overflow: hidden;
    font-size: ;
    content: "";
}

.fixed {
    position: fixed;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.wid980 {
    width: 980px;
}

.marLRAuto {
    margin-left: auto;
    margin-right: auto;
}

.disNone {
    display: none;
}

.head {
    width: 100%;
    height: 66px;
}

.headInner {
    padding-top: 26px;
    height: 40px;
}

.logo {
    display: inline-block;
    width: 143px;
    height: 40px;
    background: url('../imgs/bdbrowser_new/logo.png?v=20130523') 0 0 no-repeat;
    outline: 0 none;
}

.nav_links {
    cursor: pointer;
    display: inline-block;
    width: 64px;
    height: 20px;
    margin: 20px 16px 0;
    background: url('../imgs/bdbrowser_new/nav_links.png?v=20130524') 0 0 no-repeat;
}

.indexLink {
    width: 32px;
    margin-left: 375px;
    background-position: 0 0;
}

.indexLink:hover {
    background-position: 0 -20px;
}

.updateLogLink {
    width: 64px;
    background-position: -66px 0;
}

.updateLogLink:hover {
    background-position: -66px -20px;
}

.laboratoryLink {
    width: 48px;
    background-position: -162px 0;
}

.laboratoryLink:hover {
    background-position: -162px -20px;
}

.win8Link {
    width: 95px;
    background-position: -242px 0;
}

.win8Link:hover {
    background-position: -242px -20px;
}

.hao123Link {
    width: 92px;
    background-position: -369px 0;
    margin-right: ;
}

.hao123Link:hover {
    background-position: -369px -20px;
}

.navLine {
    left: 519px;
    top: 67px;
    width: 32px;
    height: 2px;
    overflow: hidden;
    content: '';
    font-size: ;
    background: #6481c5;
}

.foot {
    width: 100%;
    height: 350px;
    background: #373737;
}

.footInner {
    height: 350px;
}

.footLinks {
    padding: 50px 0 100px 80px;
    height: 120px;
}

.footlinksLi {
    padding-left: 88px;
    width: 173px;
    height: 120px;
    border-left: #404040 solid 1px;
    border-right: #2d2d2d solid 1px;
}

.footlinksLiFirst {
    width: 140px;
    padding-left: 0px;
    border-left: ;
}

.footLinksLiLast {
    border-right: 0 none;
    width: 120px;
}

.footlinksLi h5 {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #c0c0c0;
    padding-bottom: 28px;
    font-family: "宋体", Arial;
}

.footlinksLi p,
.footlinksLi p a {
    font-size: 12px;
    font-weight: normal;
    color: #888;
    font-family: "宋体", Arial;
    line-height: 24px;
}

.footlinksLi p a.weibo,
.footlinksLi p a.tieba,
.footlinksLi p a.luntan {
    display: inline-block;
    height: 24px;
    background: url('../imgs/bdbrowser_new/contact_icons.jpg?ran=20130523') 0 2px no-repeat;
    padding-left: 30px;
}

.footlinksLi p a.tieba {
    background-position: 0 -23px;
}

.footlinksLi p a.luntan {
    background-position: 0 -46px;
}

.footlinksLi p a.linkItemHover {
    color: #ade3ff;
    text-decoration: none;
}

.copyRight {
    text-align: center;
    font-size: 12px;
    font-family: Arial, "宋体";
    color: #888888;
}

.copyRight a,
.copyRight a:hover {
    font-family: "宋体", Arial;
    color: #888888;
}

.copyRight a:hover {
    text-decoration: none;
    color: #ade3ff;
}